<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <!-- admin -->
      <passwordHash>#jbcrypt:$2a$10$VVuI8yWPQLf6a8ONRxt7VeW8sgnsToG1isG496VBhMGTFjNn4VAwK</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>
