<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.479.1</version>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>USER:hudson.model.Computer.Configure:admin</permission>
    <permission>USER:hudson.model.Computer.Configure:user</permission>
    <permission>USER:hudson.model.Computer.Connect:admin</permission>
    <permission>USER:hudson.model.Computer.Connect:user</permission>
    <permission>USER:hudson.model.Computer.Create:admin</permission>
    <permission>USER:hudson.model.Computer.Create:user</permission>
    <permission>USER:hudson.model.Computer.Delete:admin</permission>
    <permission>USER:hudson.model.Computer.Delete:user</permission>
    <permission>USER:hudson.model.Computer.Disconnect:admin</permission>
    <permission>USER:hudson.model.Computer.Disconnect:user</permission>
    <permission>USER:hudson.model.Hudson.Administer:admin</permission>
    <permission>USER:hudson.model.Hudson.Read:admin</permission>
    <permission>USER:hudson.model.Hudson.Read:user</permission>
    <permission>USER:hudson.model.Hudson.RunScripts:admin</permission>
    <permission>USER:hudson.model.Hudson.RunScripts:user</permission>
    <permission>USER:hudson.model.Item.Build:admin</permission>
    <permission>USER:hudson.model.Item.Build:user</permission>
    <permission>USER:hudson.model.Item.Cancel:admin</permission>
    <permission>USER:hudson.model.Item.Cancel:user</permission>
    <permission>USER:hudson.model.Item.Configure:admin</permission>
    <permission>USER:hudson.model.Item.Configure:user</permission>
    <permission>USER:hudson.model.Item.Create:admin</permission>
    <permission>USER:hudson.model.Item.Create:user</permission>
    <permission>USER:hudson.model.Item.Delete:admin</permission>
    <permission>USER:hudson.model.Item.Delete:user</permission>
    <permission>USER:hudson.model.Item.Discover:admin</permission>
    <permission>USER:hudson.model.Item.Discover:user</permission>
    <permission>USER:hudson.model.Item.Read:admin</permission>
    <permission>USER:hudson.model.Item.Read:user</permission>
    <permission>USER:hudson.model.Item.Workspace:admin</permission>
    <permission>USER:hudson.model.Item.Workspace:user</permission>
    <permission>USER:hudson.model.View.Configure:admin</permission>
    <permission>USER:hudson.model.View.Configure:user</permission>
    <permission>USER:hudson.model.View.Create:admin</permission>
    <permission>USER:hudson.model.View.Create:user</permission>
    <permission>USER:hudson.model.View.Delete:admin</permission>
    <permission>USER:hudson.model.View.Delete:user</permission>
    <permission>USER:hudson.model.View.Read:admin</permission>
    <permission>USER:hudson.model.View.Read:user</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
</hudson>
