<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>user</fullName>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <!-- user -->
      <passwordHash>#jbcrypt:$2a$10$IYr1xSFLU8cmQPrFQs3Q/ei..1iRWMkeYcfy8D4C4PFtuBeoxz5Q6</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>
