<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <!-- admin -->
      <passwordHash>#jbcrypt:$2a$10$vUuoPrd1uaaLPCaStLCwAO6UmrWdX/bv5GQfAQsVRYghQ/p/vXkcu</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>
