<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>user</fullName>
  <properties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <!-- user -->
      <passwordHash>#jbcrypt:$2a$10$57ielzRQPbrbVdIIMxpX3OQD9XDEWl41zwNUaHYK/pKmD9/I7CSd.</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
  </properties>
</user>
